# dbt
dbt-duckdb==1.10.0
dbt-core>=1.10,<1.11
dbt-snowflake>=1.10,<1.11

#dagster
dagster==1.12.7
dagster-airbyte==0.28.7
dagster-webserver==1.12.7
dagster-dbt==0.28.7
dagster-postgres==0.28.7  #for Dagster to save run/logs to RDS

#linters
ruff
sqlfluff==3.5.0
sqlfluff-templater-dbt==3.5.0


# Critical compiled deps (pin to avoid Windows issues)
pydantic>=2,<3
pydantic-core>=2,<3
grpcio>=1.60,<2
rpds-py>=0.18,<0.20
pytest>=7.0.0
